* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#inputPrice {
  border: 2px solid black;
  width: 150px;
}

span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
